{% include 'header.html' %}
{% load static %}

<div>
    <h2 class="tituloEmpresas">Lista de Empresas Registradas</h2>
    <ul class="company-list">
        {% for empresa in empresas %}
            <li class="company-item" style="cursor: pointer;">
                {% if empresa.imagem %}
                    <img src="{{ empresa.imagem.url}}" alt="{{ empresa.nome}}" class="company-image">
                {% else %}
                    <img src="https://via.placeholder.com/50" alt="{{ empresa.nome}}" class="company-image">
                {% endif %}
                <div class="company-details">
                    <h3>{{ empresa.nome }}</h3>
                    <h4>{{ empresa.tipo_empresa }}</h4>
                    <a href="{% url 'PRODUTOS_EMPRESA_URL' empresa.id %}">
    <button>Ver Produtos</button>
</a>
                </div>
                      <a href="{% url 'avaliar_empresa' empresa.id %}">
    <button>Avaliar</button>
</a>
            </li>
        {% empty %}
            <li>Nenhuma empresa cadastrada.</li>
        {% endfor %}
    </ul>
</div>
